<meta charset="utf-8">
<title>{% if page.primary %}{{ page.primary }} &#8211; {% endif %}{% if page.layout != "page" %}{% if page.title %}{{ page.title }} &#8211; {% endif %}{% else %}{% if page.layout == "page" %}{% if page.alt_title %}{{ page.alt_title }}{% else %}{{ page.title }} &#8211; {{ site.title }}{% endif %}{% endif %}{% endif %}</title>
{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
<link rel="canonical" href="{{ canonical }}{% if page.layout == "post" %}/{% endif %}">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if site.owner.twitter %}
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% endif %}">
<meta name="twitter:site:id" content="14597666">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:domain" content="http://kraigwalker.com">
<meta name="twitter:creator" content="@{{ site.owner.twitter }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:src" content="http://kraigwalker.com/images/{{ page.image.feature }}">
{% endif %}
{% if page.next %}<link rel="next" href="{{ site.url }}{{ page.next.url }}" />{% endif %}
{% if page.previous %}<link rel="prev" href="{{ site.url }}{{ page.previous.url }}" />{% endif %}
{% if page.layout == "post" %}{% if page.next %}<link rel="prerender" href="{{ site.url }}{{ page.next.url }}" />{% endif %}{% endif %}
{% if page.layout == "post" %}{% if page.next %}<link rel="prerender" href="{{ site.url }}{{ page.next.url }}" />{% endif %}{% endif %}
{% if page.layout == "post" %}<link rel="prerender" href="{{ site.url }}" />{% endif %}
<meta name="application-name" content="Kraig Walker"/>
<meta name="msapplication-tooltip" content="Kraig Walker" />
<meta name="msapplication-starturl" content="/" />
<meta name="msapplication-task" content="name=Kraig Walker;action-uri={{ site.url }};icon-uri=http://{{ site.url }}/favicon.ico" />
<meta name="msapplication-task" content="name=Kraig Walker on Twitter;action-uri=http://twitter.com/{{ owner.twitter }};icon-uri=http://twitter.com/favicon.ico" />
<meta name="msapplication-task" content="name=Kraig Walker on Google+;action-uri=http://plus.google.com/{{ owner.google_plus }}/;icon-uri=http://plus.google.com/favicon.ico" />
<meta name="msapplication-task" content="name=Kraig Walker on Facebook;action-uri=http://www.facebook.com/kraig.walker;icon-uri=http://facebook.com/favicon.ico" />
<meta name="msapplication-task" content="name=Kraig Walker on LinkedIn;action-uri=http://il.linkedin.com/in/{{ owner.linkedin }};icon-uri=http://linkedin.com/favicon.ico" />
{% if site.fb_app_id %}
<meta property="fb:app_id" content="{{ fb_app_id }}"/>
{% endif %}
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
{% if page.layout == 'page'%}
	<meta property="og:type" content="website" />
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
	<meta property="og:url" content="{{ canonical }}" />
	<meta property="og:image" content="{{ site.url }}/images/{{ site.logo }}" />
{% elsif page.layout == 'post'%}
	<meta property="og:type" content="article">
	<meta property="article:published_time" content="{{ page.date | date: "%B %d, %Y"}}" />
	{%if page.published %}
	<meta property="article:modified_time" content="{% if page.modified %}{{ page.modified }}{% else %}{{ page.date | date: "%B %d, %Y" }}{% endif %}" />
	{% endif %}
	<meta property="article:author" content="https://www.facebook.com/kraig.walker" />
	<meta property="article:section" content="{% if page.og_section %}{{ page.og_section }}{% else %}Technology{% endif %}" />
	{% for tag in page.tags %}<meta property="article:tag" content="{{ tag }}" />{% endfor %}
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
	<meta property="og:url" content="{{ canonical }}/">
{% endif %}
{% if page.image.feature %}<meta property="og:image" content="http://kraigwalker.com/images/{{ page.image.feature }}" />{% endif %}
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="fb:admins" content="1257181099" />
<!-- Webmaster Tools verfication -->
{% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}" />{% endif %}
{% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}" />{% endif %}
<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% if site.owner.google_plus %}<link rel="author" href="{{ site.owner.google_plus }}?rel=author">{% endif %}
<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta http-equiv="cleartype" content="on">
<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
<!-- 32x32 -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.png">
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed" href="{{ site.url }}/images/apple-touch-icon-precomposed.png">
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/images/apple-touch-icon-72x72-precomposed.png">
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/images/apple-touch-icon-114x114-precomposed.png">
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/images/apple-touch-icon-144x144-precomposed.png">
{% include inline_styles.html %}