<!-- Load Modernizr -->
{% if page.layout != "page" %}<script>(function(d, t) {var g = d.createElement(t),s = d.getElementsByTagName(t)[0];g.href = '{{ site.url }}/assets/css/main.min.css';g.rel = 'stylesheet';g.async="true";s.parentNode.insertBefore(g, s);}(document, 'link'));</script>{% endif %}
<script>
  window.addEventListener('devicelight', function(event) {
    var body = document.getElementsByTagName('body')[0];
    if(event.value < 50) {
      body.classList.add('darklight');
      body.classList.remover('brightlight');
    } else {
      html.classList.add('brightlight');
      html.classList.remove('darklight');
    }
  });
  // Check if a new cache is available on page load.
  window.addEventListener('load', function(e) {

    window.applicationCache.addEventListener('updateready', function(e) {
      if (window.applicationCache.status == window.applicationCache.UPDATEREADY) {
        // Browser downloaded a new app cache.
        window.location.reload();
      } else {
        // Manifest didn't changed. Nothing new to server.
      }
    }, false);

  }, false);
</script>
<script async src="{{ site.url }}/assets/js/vendor/modernizr-2.6.2.custom.min.js"></script>
<script defer src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script defer src="{{ site.url }}/assets/js/main.min.js"></script>
{% if site.google_analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>if(navigator.onLine){var _gaq = _gaq || [];var pluginUrl='//www.google-analytics.com/plugins/ga/inpage_linkid.js';_gaq.push(['_require', 'inpage_linkid', pluginUrl]);_gaq.push(['_setAccount', '{{ site.google_analytics }}']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/client:plusone.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();} else { console.log("Didn't load Google Analytics because the client is offline.");}
</script>{% endif %}
{% if page.layout == "post" %}<script>
  function loadGoogle(){
    if(navigator.onLine){
      console.log("online!")
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/platform.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  } else {console.log("Didn't load Google+ because the client is offline");}
  };
  setTimeout("loadGoogle", 100);
</script>{% endif %}
<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"Mq3Oi1a8Dy00q3", domain:"kraigwalker.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=Mq3Oi1a8Dy00q3" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->
{% if site.disqus_shortname and page.comments %}{% include disqus_comments.html %}{% endif %}
